{
	"semi": false,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"singleQuote": true,
	"useTabs": true,
	"jsxBracketSameLine": true,
	"proseWrap": "preserve",
	"trailingComma": "none"
}
