{
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "proseWrap": "preserve",
  "trailingComma": "none",
  "useTabs": false,
  "semi": false
}
